@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Jacquard+24&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tagesschrift&display=swap');
* {
    box-sizing: border-box;
  }
  
  body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    color: #ffffff;
    font-family: 'Crimson Text', serif;
  }
  
  .background {
  min-height: 100vh;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

 .magic-button,
 .magic-button2 {
  font-size: 16px;
  color: #fff;
  padding: 12px 24px;
  background: linear-gradient(145deg, #5c1a1a, #8b1e1e);
  border: 2px solid #ff4d4d;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  box-shadow: 0 0 10px #ff4d4d;
  z-index: 0;
  overflow: hidden;
}

.magic-button::before,
 .magic-button2:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, #ff6b6b 0%, transparent 70%);
  animation: glow 3s infinite;
  opacity: 0.25;
  z-index: -1;
}

.magic-button:hover,
 .magic-button2:hover {
  background: linear-gradient(145deg, #8b1e1e, #a32020);
  transform: scale(1.05);
  box-shadow: 0 0 20px #ff6b6b, 0 0 40px #ff2e2e;
}


@keyframes glow {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(50%, 50%);
  }
  100% {
    transform: translate(0, 0);
  }
}


.button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.description{
 margin-bottom: 50px;
 font-size: 18px;
}
.title {
  font-size: 50px;
  font-family: 'Crimson Text', serif;
}
#scene-2 {
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 20px;
  padding: 50px 50px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  display: none;
}
#scene-1{
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 20px;
  padding: 50px 50px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  display: block;
}
#scene-3 {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 50px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  display: none;
}
#scene-4 {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 50px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  display: none;
} 
#scene-5 {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 50px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  display: none;
} 
#scene-6 {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 50px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  display: none;
} 
#scene-7 {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 50px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  display: none;
} 
#scene-8 {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 50px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  display: none;
} 
#scene-9 {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 50px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  display: none;
} 
#scene-10 {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 50px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  display: none;
} 
#scene-11 {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 50px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  display: none;
} 
#scene-12 {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 50px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  display: none;
} 
#scene-13 {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 50px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  display: none;
} 
#scene-14 {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 50px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  display: none;
} 
.header {
  position: absolute;
  top: 20px;
  right: 30px;
  background: transparent;
  z-index: 10;
}

.header-nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #FF00A1;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
a {
  text-decoration: none;
  color: white;
}